.Navbar{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-items: center;   
    background-color: greenyellow;
    padding: 20px;
   
}
h1{ 
    font-family: monospace;
}
.icon{ 
font-size: 30px;
}
a{ 
    text-decoration: none;
}